.Rproj.user
.Rhistory
.RData
.Ruserdata

data
data/

data_analysis
data_analysis/

demo_data
demo_data/

Figures
Figures/

Manuscript
Manuscript/

summary
summary/

Supplementary_data
Supplementary_data/
